 body
{
    background: grey;
    color: rgb(127, 139, 0);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 3;
    padding: 3;
}

#cabecera
{
    background: rgb(47, 144, 255);
    box-shadow: 0px 2px 20px 0px cornflowerblue(0,0,0,0.5);
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 0.5;

}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#post
{
    background: white;
    padding: 1em;
}

